html,
body {
    font-family: garmond, "Times New Roman", Times, Serif;
    background-color: #ebebe396;
}

p,
b,
a {
    font-size: 1.1rem;
}

.container {
    border-style: solid;
    border-width: 15px;
    /* background-color: #ebebe396; */
    -webkit-border-image: url(../images/border.png) 28 round; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 28 round; /* Opera 11-12.1 */
    border-image: url(../images/border.png) 28 round;
    margin-top: 10px;
    margin-bottom: 30px;
}

hr:first-of-type {
    border-top: 1px dotted black;
    margin-top: 0rem;
}

#title-separator {
    border-top: 1px solid black;
    /* margin-top: 2rem; */
}

.sidebar hr {
    border-top: 1px dotted #c6c6c6;
    /* width: 60%; */
}

.img-border {
    border: 10px solid white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.my-input {
    border-radius: none;
    width: 50%;
}

.my-input:focus {
    border-color: none;
    box-shadow: none;
}

.title {
    font-family: "IM Fell French Canon SC", serif;
}

.tagline {
    margin-bottom: 0px;
    margin-left: 0px;
}

.nav-item {
    color: #83020b;
    transition: 0.5s;
    text-decoration: underline;
}

.nav-item:hover {
    color: #272764;
    text-decoration: none;
}

.navbar {
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.navbar-toggler {
    color: #83020b;
    font-weight: bold;
}

.navbar-toggler:focus {
    outline: 5px auto transparent;
    color: #83020b;
}

.events {
    margin-top: 20px;
}

.events h3 {
    margin-bottom: 1rem;
}

.events h5 {
    margin-bottom: 1rem;
    text-decoration: underline;
}

.sister-logo {
    padding-top: 15px;
    padding-bottom: 20px;
    width: 80px;
}

#mb-desc {
    font-size: 0.9em;
}

#m-b {
    color: #83020b;
    transition: 0.5s;
    text-decoration: underline;
}

#m-b:hover {
    color: #272764;
    text-decoration: none;
}

.cb-dvd a {
    color: #83020b;
    transition: 0.5s;
    text-decoration: underline;
}

.cb-dvd a:hover {
    color: #272764;
    text-decoration: none;
}

.cb-dvd a span {
    font-style: italic;
}

.newspaper {
    width: 200px;
    margin-left: 15px;
    /* margin-bottom: 10px; */
}

.source {
    font-size: small;
    margin-left: 15px;
    font-family: serif;
    text-align: right;
    color: #818080;
}

.paragraph {
    margin-top: 50px;
    margin-bottom: 50px;
}

#slider {
    background-color: black;
}

.footer-liner {
    margin-top: 50px;
}

.footer {
    margin-top: 20px;
    /* padding: 20px 20px 0px 20px; */
    /* background-color: #83020b; */
    text-align: center;
}

.registration-warning {
    color: red;
    text-align: center;
}

@media screen and (max-width: 419px) {
    .newspaper {
        width: 100%;
        margin-left: 0px;
    }

    #seedbed {
        height:180px;
    }
}

/* Mobile Landscape */
@media only screen and (max-width: 419px) {
    .tagline {
        margin-left: 0px;
    }

    .carousel-item img {
        max-height: 150px;
        width: auto;
        margin: auto;
    }

    #seedbed {
        height:180px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 767px) {
    .tagline {
        margin-left: 0px;
    }

    .newspaper {
        width: 150px;
    }

    .carousel-item img {
        max-height: 250px;
        width: auto;
        margin: auto;
    }

    .set-height {
        height: 250px;
    }

    #seedbed {
        height:180px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .newspaper {
        width: 200px;
    }
    .carousel-inner > .slider-container > .carousel-item > img {
        max-height: 350px;
        width: auto;
        margin: auto;
    }

    .set-height {
        height: 350px;
    }

    #seedbed {
        height:250px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1119px) {
    .carousel-inner > .slider-container > .carousel-item > img {
        max-height: 450px;
        width: auto;
        margin: auto;
    }

    .set-height {
        height: 450px;
    }

    #seedbed {
        height:220px;
    }
}

@media only screen and (min-width: 1119px) {
    .carousel-inner > .slider-container > .carousel-item > img {
        max-height: 500px;
        width: auto;
        margin: auto;
    }

    .set-height {
        height: 500px;
    }

    #seedbed {
        height:220px;
    }
}
