/*Containers */

.container-fluid {

  margin-bottom: 30px;
  max-height: 100%;
}

.page {
    border-style: solid;
    border-width: 15px;
    -webkit-border-image: url(../images/border.png) 28 round; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 28 round; /* Opera 11-12.1 */
    border-image: url(../images/border.png) 28 round;
    max-width: 960px;
    margin: auto;
    background-color: #f6eee4;
    padding: 0px 15px 15px 15px;

}

/* Header */

.header-img {
  width: 100%;
  height: auto;
}

.our-logo {
  max-height:100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-text>h1 {
  font-family: 'IM Fell French Canon SC', serif;
  font-size:2.5rem;
}

.header-text>h2 {
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 2.1rem;
}

.header-text>p.tagline-default {
  font-family: garmond, times;
  font-size: larger;
}

/* Navbar */

.navbar-nav {
  flex-direction: row;
}

ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #83020b;
}

.floatright {
  position: absolute;
  right: 0;
}

.floatright li {
  display: inline-block;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: garmond, times;
    font-size: larger;
    -o-transition:color .2s ease-out, background 2s ease-in;
    -ms-transition:color .2s ease-out, background 2s ease-in;
    -moz-transition:color .2s ease-out, background 2s ease-in;
    -webkit-transition:color .2s ease-out, background 2s ease-in;
    /* ...and now for the proper property */
    transition:color .2s ease-out, background 2s ease-in;
}


/* Website content */

.content {
  margin-top: 30px;
  padding-bottom:20px;
}

.audio-player audio {min-width: 50%; max-width: 50%;  display: block; }

.audio-player p {
  margin-top: 1rem;
  margin-bottom: 0px;
  max-width: 80%;
  min-width: 50%;
}

.events-content {
  padding-top: 30px;
}

.events-content > p, .events-content > h2 {
  color: white;
}

.upcoming h4 {
  font-family: garmond, times;
  text-decoration: underline;
}

#demo {
  background-color: black;
}

.carousel-item img {
  height:400px;
  width:auto;
  margin: auto;
}

/* Footer */

.footer {
  margin-top: 20px;
  padding: 20px 20px 0px 20px;
  background-color: #83020b;
}

.footer p {
  color: white;
  text-align: center;
}

.designer {
  max-width: 960px;
  margin:auto;
}

.designer-text p {
  text-align: right;
  margin: 0px;
  font-size: smaller;
}


/* Media Queries */
/* Tablet */
@media only screen and (min-width: 639px) and (max-width:1025px) {
  .page {
    max-width: 750px;
  }

  p {
    font-size: larger;
  }

  .our-logo {
    max-height: 80px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .header-text>h1 {
    font-family: 'IM Fell French Canon SC', serif;
    font-size:2.2rem;
  }

  .header-text>h2 {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 1.7rem;
  }

  .header-text>p.tagline-default {
    font-family: garmond, times;
  }

  .carousel-item img {
    max-height:320px;
    width:auto;
    margin: auto;
  }

  .designer {
    max-width: 750px;
    margin:auto;
  }
}

/* mini tablet */
@media only screen and (min-width: 639px) and (max-width:800px) {
  .carousel-item img {
    max-height:270px;
    width:auto;
    margin: auto;
  }

  .audio-player audio {min-width: 50%; max-width: 100%;  display: block; }
}

/* Mobile */
@media screen and (max-width: 638px) {
  #first {
        order: 2;
    }

    #second {
        order: 1;
    }

    .page {
      padding: 0px 10px 10px 10px;
    }

    .content {
      margin-top: 20px;
    }

    .image-row {
      display: none;
    }

    .floatright {
      position:sticky;
      text-align:right;
    }

    .header-text>h1 {
      font-family: 'IM Fell French Canon SC', serif;
      font-size:1.5rem;
      text-align: center;
    }

    .header-text>h2 {
      font-family: 'IM Fell French Canon SC', serif;
      font-size: 1.5rem;
      text-align: center;
    }

    .header-text>p.tagline-default {
      font-family: garmond, times;
      font-size: medium;
    }

    .events-content {
      padding-top: 20px;
    }

    .upcoming {
      padding-top: 20px;
    }

    .carousel-item img {
      max-height:170px;
      width:auto;
      margin: auto;
    }

    .our-logo {
      height: 40px;
      margin-top: 10px;
      margin-left: 0px;
    }

    .designer-text p {
      text-align: center;
      margin: 0px;
      font-size: small;
    }
 }

 /* Mobile Landscape */
 @media only screen and (min-width: 480px) and (max-width:638px) {
   .carousel-item img {
     max-height:250px;
     width:auto;
     margin: auto;
   }
 }
